<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sit, esse voluptatem ea animi fuga, impedit
            voluptatum asperiores delectus fugiat laborum omnis pariatur optio. Doloremque, soluta rerum. Minima,
            maiores
            deserunt?</p>
        <form>
            <input type="text" placeholder="enter your location">
            <button>Search</button>
        </form>
        <p id="message"></p>
    </div>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>

</html>